USE [master]
GO
/****** Object:  Database [Cars]    Script Date: 17.05.2020 02:12:30 ******/
CREATE DATABASE [Cars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cars', FILENAME = N'C:\Users\Dan\Cars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cars_log', FILENAME = N'C:\Users\Dan\Cars_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cars]
GO
USE [Cars]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] NOT NULL,
	[Make] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[CarImage] [image] NOT NULL,
	[CarPrice] [float] NOT NULL,
	[CarYear] [int] NOT NULL,
	[CodITP] [int] NOT NULL,
	[IsSold] [bit] NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITP]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITP](
	[CodITP] [int] NOT NULL,
	[Km] [float] NOT NULL,
	[ITPDate] [date] NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_ITP] PRIMARY KEY CLUSTERED 
(
	[CodITP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mecanic]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mecanic](
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[codMecanic] [int] NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_Mecanic] PRIMARY KEY CLUSTERED 
(
	[codMecanic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldCar]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OldCar](
	[CarId] [int] NOT NULL,
	[Make] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[CarImage] [image] NOT NULL,
	[CarPrice] [float] NOT NULL,
	[CarYear] [int] NOT NULL,
	[CodITP] [int] NOT NULL,
	[Km] [float] NOT NULL,
	[CarPlate] [varchar](50) NOT NULL,
	[IsSold] [bit] NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_OldCar] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[codService] [int] NOT NULL,
	[codMecanic] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[codService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldCar]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldCar](
	[IsSold] [bit] NOT NULL,
	[CarNumber] [int] NOT NULL,
	[MoneyThisMonth] [int] NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_SoldCar] PRIMARY KEY CLUSTERED 
(
	[IsSold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationCar]    Script Date: 17.05.2020 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationCar](
	[code] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[HorsePower] [varchar](50) NOT NULL,
	[FuelType] [varchar](50) NOT NULL,
	[Co2E] [float] NOT NULL,
	[ParkingSpot] [varchar](50) NOT NULL,
	[Consumption] [float] NOT NULL,
	[Traction] [varchar](50) NOT NULL,
	[CilindricalCap] [float] NOT NULL,
	[Features] [varchar](50) NOT NULL,
	[URL] [varchar](2083) NOT NULL,
 CONSTRAINT [PK_SpecificationCar] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_C.CodITP] FOREIGN KEY([CodITP])
REFERENCES [dbo].[ITP] ([CodITP])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_C.CodITP]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_C.IsSold_SC.IsSold] FOREIGN KEY([IsSold])
REFERENCES [dbo].[SoldCar] ([IsSold])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_C.IsSold_SC.IsSold]
GO
ALTER TABLE [dbo].[OldCar]  WITH CHECK ADD  CONSTRAINT [FK_OC.CodITP] FOREIGN KEY([CodITP])
REFERENCES [dbo].[ITP] ([CodITP])
GO
ALTER TABLE [dbo].[OldCar] CHECK CONSTRAINT [FK_OC.CodITP]
GO
ALTER TABLE [dbo].[OldCar]  WITH CHECK ADD  CONSTRAINT [FK_OC.IsSold_SC.IsSold] FOREIGN KEY([IsSold])
REFERENCES [dbo].[SoldCar] ([IsSold])
GO
ALTER TABLE [dbo].[OldCar] CHECK CONSTRAINT [FK_OC.IsSold_SC.IsSold]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_S.CodMecanic_M.CodMecanic] FOREIGN KEY([codMecanic])
REFERENCES [dbo].[Mecanic] ([codMecanic])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_S.CodMecanic_M.CodMecanic]
GO
ALTER TABLE [dbo].[SpecificationCar]  WITH CHECK ADD  CONSTRAINT [FK_Spec.CarId_Car.CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([CarId])
GO
ALTER TABLE [dbo].[SpecificationCar] CHECK CONSTRAINT [FK_Spec.CarId_Car.CarId]
GO
USE [master]
GO
